<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no, viewport-fit=cover">
  <meta name="description" content="<%= meta.description %>">
  <meta name="keywords" content="<%= meta.keywords %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#000">
  <title><% if (meta.pageTitle != "") { %><%= meta.pageTitle %>｜<% } %><%= meta.title %></title>
  <link rel="canonical" href="<%= meta.absolute %>">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="<%= meta.absolute %>img/common/favicon.ico">
  <link rel="icon" type="image/vnd.microsoft.icon" href="<%= meta.absolute %>img/common/favicon.ico">
  <link rel="apple-touch-icon" href="<%= meta.absolute %>img/common/webclipicon.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= meta.title %>">
  <meta name="twitter:description" content="<%= meta.description %>">
  <meta name="twitter:url" content="<%= meta.absolute %>">
  <meta name="twitter:image" content="<%= meta.absolute %>img/common/og.png">
  <meta property="og:title" content="<%= meta.title %>">
  <meta property="og:description" content="<%= meta.description %>">
  <meta property="og:url" content="<%= meta.absolute %>">
  <meta property="og:image" content="<%= meta.absolute %>img/common/og.png">
  <meta property="og:locale" content="ja_JP">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="title">
  <link rel="stylesheet" href="./css/style.css">
</head>
